# Compiled object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (shared libraries)
*.dll
*.dylib
*.so

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Other temporary files
*.tmp
*.swp
*.swo
*.swn

# Temporary and backup files
*~
*.bak
*.old
*.orig
*.log

# IDE and editor specific files
.vscode/
.idea/
*.code-workspace

# Generated documentation
doc/
*.html

# CMake and build directories
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
